<p>details :</p>

<div class='panel panel-primary' *ngIf='property'>

  <div class='panel-body'> <div class='row'> <div class='col-md-6'> <div class='row'> <div class='col-md-3'>Reference:</div> <div class='col-md-6'>{{property.ref}}</div>
  </div>
    <div class='row'>
      <div class='col-md-3'>State:</div>
      <div class='col-md-6'>{{property.state | lowercase}}</div>
    </div>
    <div class='row'>
      <div class='col-md-3'>City:</div>
      <div class='col-md-6'>{{property.city}}</div>
    </div>
    <div class='row'>
      <div class='col-md-3'>Type:</div>
      <div class='col-md-6'>{{property.type}}</div>
    </div>
    <div class='row'>
      <div class='col-md-3'>Price:</div>
      <div class='col-md-6'>{{property.price|currency:'USD':true}}</div>
    </div>
    <div class='row'>
      <div class='col-md-3'>Number of rooms:</div>
      <div class='col-md-6'>{{property.nbrRooms}}</div>
    </div>
    <div class='row'>
      <div class='col-md-3'>Number of bathrooms:</div>
      <div class='col-md-6'>{{property.nbrBathrooms}}</div>
    </div>
  </div>
    <div class='col-md-6'>
      <img class='center-block img-responsive' [style.margin.px]='2' src="../../assets/annonce.jpg" >
    </div>
  </div>
  </div>

</div>
