.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container{
  background: #0f6674 ;
  color: #0f6674;
}
.d-flex{
  background: #0f6674;
  color: #0f6674;
}
.d-flex{
  background: #0f6674;
  color: #0f6674;
}




